<ng-template #loader>Loader</ng-template>

<section
	*ngIf="hero; else loader"
	class="grid grid-cols-1 md:grid-cols-[350px_1fr] items-center gap-4 p-4 center-box"
>
	<div
		class="relative max-h-[500px] max-w-[300px] overflow-hidden bg-heroesWhite p-2 rounded-md"
	>
		<img
			[src]="hero | heroImgRoute"
			[alt]="hero.superhero"
			class="w-full object-cover"
		/>
		<div
			*ngIf="hero.isAlien"
			class="absolute right-4 top-4 z-10 bg-heroesWhite rounded-full px-2 py-1 text-primary text-md border border-primary"
		>
			<i class="pi pi-android"></i>
		</div>
	</div>
	<div
		class="flex flex-col items-center gap-4 md:items-start bg-heroesWhite p-4 rounded-md"
	>
		<div class="flex flex-col gap-1">
			<h3 class="text-lg text-primary roboto-extrabold">
				{{ hero.superhero }}
			</h3>
			<h4 class="text-primary/80 roboto-medium">
				{{ hero.alter_ego }}
			</h4>
		</div>
		<p class="text-primary/50 text-justify">{{ hero.fullDescription }}</p>
		<ul class="flex flex-col gap-1">
			<li class="inline-flex items-center gap-2 text-primary/50">
				<i class="pi pi-book"></i>
				<span>{{ hero.publisher }}</span>
			</li>
			<li class="inline-flex items-center gap-2 text-primary/50">
				<i class="pi pi-users"></i>
				<span
					>{{ hero.affiliation.team }} ({{
						hero.affiliation.role
					}})</span
				>
			</li>
			<li class="inline-flex items-center gap-2 text-primary/50">
				<i class="pi pi-star-fill"></i>
				<span
					>{{ hero.first_appearance.comic }} ({{
						hero.first_appearance.year
					}})
				</span>
			</li>
		</ul>
		<ul class="flex flex-col sm:flex-row gap-2 sm:items-center">
			<li
				*ngFor="let power of hero.powers"
				class="rounded-[100px] bg-primary px-4 py-2 text-secondary text-sm hover:bg-primary/80"
			>
				{{ power }}
			</li>
			<li
				*ngIf="hero.powers.length === 0"
				class="rounded-[100px] bg-primary px-4 py-2 text-secondary text-sm hover:bg-primary/80"
			>
				No tiene poderes
			</li>
		</ul>
		<button
			(click)="goBack()"
			class="text-primary text-md"
		>
			<i class="pi pi-arrow-left"></i>
		</button>
	</div>
</section>
