<div
	class="h-full border shadow-sm w-full max-w-[300px] xs:max-w-full overflow-hidden rounded-md bg-heroesWhite"
>
	<div class="max-h-[400px] overflow-hidden">
		<img
			[src]="hero.alter_img ? hero.alter_img : (hero | heroImgRoute)"
			[alt]="hero.superhero"
			class="w-full object-cover"
		/>
	</div>
	<div class="flex flex-col gap-4 p-6">
		<h3 class="text-md text-primary inter-extrabold sm:text-lg">
			{{ hero.superhero }}
		</h3>
		<p class="text-sm sm:text-base text-primary/50 text-justify">
			{{ hero.littleDescription }}
		</p>
		<div
			class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between"
		>
			<a
				[routerLink]="'/heroes/edit/' + hero.id"
				class="inline-flex items-center justify-center gap-2 rounded-[100px] bg-primary px-4 py-2 text-secondary hover:bg-primary/80"
			>
				<i class="pi pi-pencil"></i>
				<span>Editar</span>
			</a>
			<a
				[routerLink]="'/heroes/' + hero.id"
				class="hover:bg-primary hover:text-secondary text-center rounded-full py-2 px-4"
				><i class="pi pi-ellipsis-h"></i
			></a>
		</div>
	</div>
</div>
