<div
	[ngClass]="{ 'ml-64': isOpen }"
	class="relative sidenavAnimation bg-heroesGray"
>
	<div
		[ngClass]="isOpen ? 'translate-x-0 delay-300' : '-translate-x-full'"
		class="fixed top-0 bottom-0 left-0 right-0 z-10 transparentBlack sidenavContainerAnimation"
	>
		<aside
			[ngClass]="isOpen ? 'translate-x-0' : '-translate-x-full'"
			class="fixed top-0 left-0 z-20 w-64 h-screen -translate-x-full sidenavAnimation"
		>
			<div class="h-full px-4 overflow-y-auto bg-primary text-secondary">
				<div
					class="flex justify-between items-center h-[50px] sm:h-[65px] max-h-[65px]"
				>
					<a
						href="https://flowbite.com/"
						class="flex items-center"
					>
						<img
							src="https://flowbite.com/docs/images/logo.svg"
							class="h-6 me-3 sm:h-7"
							alt="Flowbite Logo"
						/>
					</a>
					<button
						type="button"
						(click)="toggleSidebar()"
						class="inline-flex items-center p-2 rounded-md bg-transparent text-secondary hover:bg-secondary hover:text-primary focus:outline-none focus:ring-2 focus:ring-secondary"
					>
						<i class="pi pi-arrow-left"></i>
					</button>
				</div>
				<hr class="border-t border-secondary mt-4 pb-6" />
				<ul class="flex flex-col gap-2">
					<li
						[routerLink]="'/heroes/list'"
						(click)="toggleSidebar()"
						class="flex items-center gap-4 p-2 text-secondary rounded-md hover:bg-secondary hover:text-primary cursor-pointer"
					>
						<i class="pi pi-list"></i>
						<span class="text-md inter-bold">Listado</span>
					</li>
					<li
						[routerLink]="'/heroes/new-hero'"
						(click)="toggleSidebar()"
						class="flex items-center gap-4 p-2 text-secondary rounded-md hover:bg-secondary hover:text-primary cursor-pointer"
					>
						<i class="pi pi-plus"></i>
						<span class="text-md inter-bold">Añadir</span>
					</li>
					<li
						[routerLink]="'/heroes/search'"
						(click)="toggleSidebar()"
						class="flex items-center gap-4 p-2 text-secondary rounded-md hover:bg-secondary hover:text-primary cursor-pointer"
					>
						<i class="pi pi-search"></i>
						<span class="text-md inter-bold">Buscar</span>
					</li>
				</ul>
			</div>
		</aside>
	</div>
	<header
		class="flex items-center bg-primary px-4 h-[50px] sm:h-[65px] max-h-[65px]"
	>
		<div class="flex justify-between items-center center-box">
			<button
				type="button"
				(click)="toggleSidebar()"
				class="inline-flex items-center p-2 rounded-md bg-transparent text-secondary hover:bg-secondary hover:text-primary focus:outline-none focus:ring-2 focus:ring-secondary"
			>
				<i class="pi pi-bars"></i>
			</button>
			<h2 class="text-secondary">Logout</h2>
		</div>
	</header>
	<router-outlet></router-outlet>
</div>
