@import url(./app/css/Reset.css);
@import url(./app/css/inter-font.css);
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply text-base;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.center-box {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}
