<div class="flex flex-col px-6 py-12 lg:px-8 w-full bg-secondary h-full">
	<div class="flex flex-col gap-8">
		<i class="pi pi-ethereum text-xl text-primary text-center"></i>
		<h2
			class="text-center text-primary text-xl inter-bold leading-9 tracking-tight"
		>
			Inicio de sesión
		</h2>
	</div>
	<div class="flex flex-col gap-2">
		<form action="#">
			<div class="flex flex-col gap-2 mt-6">
				<label
					for="username"
					class="block inter-medium leading-6 text-primary"
					>Nombre de usuario</label
				>
				<input
					id="username"
					name="username"
					type="text"
					placeholder="Nombre de usuario"
					class="bg-primary/90 border border-primary text-secondary text-sm rounded-md placeholder:text-secondary/70 focus:ring-primary focus:border-primary block w-full p-2.5"
					required
				/>
			</div>
			<div class="flex flex-col gap-2 mt-6">
				<label
					for="name"
					class="block inter-medium leading-6 text-primary"
					>Nombre</label
				>
				<input
					id="name"
					name="name"
					type="text"
					placeholder="Nombre"
					class="bg-primary/90 border border-primary text-secondary text-sm rounded-md placeholder:text-secondary/70 focus:ring-primary focus:border-primary block w-full p-2.5"
					required
				/>
			</div>
			<div class="flex flex-col gap-2 mt-6">
				<label
					for="password"
					class="block inter-medium leading-6 text-primary"
					>Contraseña</label
				>

				<input
					id="password"
					name="password"
					type="password"
					placeholder="Contraseña"
					class="bg-primary/90 border border-primary text-secondary text-sm rounded-md placeholder:text-secondary/70 focus:ring-primary focus:border-primary block w-full p-2.5"
					required
				/>
			</div>
			<button
				type="submit"
				class="flex w-full justify-center rounded-md bg-primary mt-6 px-3 py-1.5 text-sm inter-bold leading-6 text-secondary shadow-sm hover:bg-primary/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
			>
				Iniciar Sesión
			</button>
		</form>
		<p class="text-center text-sm text-primary/70">
			Ya tienes cuenta?
			<a
				routerLink="/auth/login"
				class="inter-bold leading-6 text-primary hover:text-primary/50"
				>Inicia aquí</a
			>
		</p>
	</div>
</div>
